<!DOCTYPE html>
<html>
    <body>
        <h1>{{ans}}</h1>
        <b><table border="1">
            <tr style="color:Blue">
                <th>Movie</th>
            </tr>
    
        {% for htl  in spent %}
        <tr style="text-align:center">
        {% if htl.movie > 15 %}    
            <td style="color:red">{{ htl.movie}}</td></tr>
        {% else %}
             <td>{{ htl.movie}}</td></tr>  
        {% endif %}      
        {% endfor %}
        </table></b>
        {% if movie_total > 150 %}
            <p><b style="color:red">${{movie_total}}</b></p> 
        {% else %}
            <p>${{movie_total}}</p> 
        {% endif %}

        <b><table border="1">
            <tr style="color:Blue">
                <th>Hotel</th>
            </tr>

        {% for htl  in spent %}
            <tr style="text-align:center">
            <td>{{ htl.hotel}}</td></tr>
        {% endfor %}
        
        </table></b>
        {% if hotel_total > 150 %}
            <p><b style="color:red">${{hotel_total}}</b></p> 
        {% else %}
            <p>${{hotel_total}}</p> 
        {% endif %}

        <b><table border="1">
            <tr style="color:Blue">
                <th>Restaurent</th>
            </tr>

        {% for htl  in spent %}
        <tr style="text-align:center">
            <td>{{ htl.restaurent}}</td></tr>
        {% endfor %}
        </table></b>

        {% if restaurent_total > 150 %}
            <p> <b style="color:red">${{restaurent_total}}</b></p> 
        {% else %}
            <p> ${{restaurent_total}}</p> 
        {% endif %}

        <b><table border="1">
            <tr style="color:Blue">
                <th>Shopping</th>
            </tr>
        {% for htl  in spent %}
            <tr style="text-align:center">
                <td>{{ htl.shopping}}</td>
            </tr>
        {% endfor %}
        </table></b> 
        {% if shopping_total > 150 %}
            <p> <b style="color:red">${{shopping_total}}</b></p> 
        {% else %}
            <p> ${{shopping_total}}</p> 
        {% endif %}
        
        <b><table border="1">
            <tr style="color:Blue">
                <th>Sport</th>
            </tr>
        {% for htl  in spent %}
            <tr style="text-align:center">
                <td>{{ htl.sport}}</td>
            </tr>
        {% endfor %}
        </table></b>  
        {% if sport_total > 150 %}
            <p> <b style="color:red">${{sport_total}}</b></p> 
        {% else %}
            <p>${{sport_total}}</p> 
        {% endif %}                
    
</html>