<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td {
                    border: 1px solid black;
                        }
        </style>
    </head>
    <body>
        <h1>{{ans}}</h1>

        <b><table width="100">
            <tr style="color:Blue">
                <th>Movie</th>
            </tr>
        {% for htl  in spent %}
        <tr style="text-align:center">
        {% if htl.movie > 15 %}    
            <td style="color:red">{{ htl.movie}}</td></tr>
        {% else %}
             <td>{{ htl.movie}}</td></tr>  
        {% endif %}      
        {% endfor %}
        </table></b>
        <p><b>${{movie_total}}</b></p> 


        <b><table width="100">
            <tr style="color:Blue">
                <th>Hotel</th>
            </tr>
        {% for htl  in spent %}
            <tr style="text-align:center">
        {% if htl.hotel > 15 %}    
            <td style="color:red">{{ htl.hotel}}</td></tr>
        {% else %}
             <td>{{ htl.hotel}}</td></tr>  
        {% endif %}         
        {% endfor %}
        
        </table></b>
        <p><b>${{hotel_total}}</b></p> 


        <b><table width="100">
            <tr style="color:Blue">
                <th>Restaurent</th>
            </tr>

        {% for htl  in spent %}
        <tr style="text-align:center">
        {% if htl.restaurent > 50 %}    
            <td style="color:red">{{ htl.restaurent}}</td></tr>
        {% else %}
             <td>{{ htl.restaurent}}</td></tr>  
        {% endif %}      
        {% endfor %}
        </table></b>
        <p> <b>${{restaurent_total}}</b></p> 
        

        <b><table width="100">
            <tr style="color:Blue">
                <th>Shopping</th>
            </tr>
        {% for htl  in spent %}
            <tr style="text-align:center">
        {% if htl.shopping > 100 %}    
            <td style="color:red">{{ htl.shopping}}</td></tr>
        {% else %}
             <td>{{ htl.shopping}}</td></tr>
        {% endif %}  
        {% endfor %}
        </table></b> 
        <p> <b>${{shopping_total}}</b></p> 

        <b><table width="100">
            <tr style="color:Blue">
                <th>Sport</th>
            </tr>
        {% for htl  in spent %}
            <tr style="text-align:center">
        {% if htl.sport > 50 %}    
            <td style="color:red">{{ htl.sport}}</td></tr>
        {% else %}
             <td>{{ htl.sport}}</td></tr>  
        {% endif %}
        {% endfor %}
        </table></b>  
        <p> <b>${{sport_total}}</b></p> 
        <p> <b>${{final_total}}</b></p> 
</html>