<!DOCTYPE html>
<html>
    <body>
        <h1>{{ans}}</h1>
            <b><table border="1">
             <tr style="color:Blue">
                <th>User Name</th>
                <th>Sport</th>
             </tr>

            {% for sprt  in sport %}

            <tr style="text-align:center">
                <td>{{ sprt.name}}</td>
                <td>{{ sprt.sport}}</td>
            </tr>
            {% endfor %}
        </table></b>
    {% if total > 150 %}
    <p>Total Money Spent On Movie: <b style="color:red">${{total}}</b></p> 
    {% else %}
    <p>Total Money Spent On Movie: ${{total}}</p> 
    {% endif %}   
    </body>
</html>