<!DOCTYPE html>
<html>
    <body>
        <h1>{{ans}}</h1>
            <b><table border="1">
             <tr style="color:Blue">
                <th>User Name</th>
                <th>Movie</th>
                <th>Restaurant</th>
                <th>Hotel</th>
                <th>Shopping</th>
                <th>Sport</th>
                
             </tr>

            {% for user  in users %}

            <tr style="text-align:center">
                <td>{{ user.name}}</td>
                <td>{{ user.movie}}</td>
                <td>{{ user.restaurent}}</td>
                <td>{{ user.hotel}}</td>
                <td>{{ user.shopping}}</td>
                <td>{{ user.sport}}</td>
            </tr>
            {% endfor %}
        </table></b>
    <p>Total Money Spent By All Users: ${{total}}</p>     
    </body>
</html>
